@use '../custom'as *;
@use '../components/mixins'as *;

.btn-rounded {

    transition: 0.5s;

    @include media-breakpoint-down(xl) {
        display: none;
    }

    border: 0.2rem solid rgba($gray-400, 0.5);
    position: relative;
    margin: 0;
    // top | right | bottom | left 
    padding: 0.5rem 3rem 0.5rem 0.8rem;
    font-weight: 700;
    background-color: $gray-200;

    span {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: $primary;

        i {
            color: $gray-200;
            font-size: 1.1rem;
            line-height: 2.1rem;
        }
    }

    &:hover {
        border: 0.2rem solid $white;
        background-color: #35CE8D;
        color: $gray-200;

        span {
            border: 0.2rem solid $white;
            background-color: inherit;
        }

        i {
            color: $white;
            line-height: 1.7rem;
        }
    }
}