@use '../custom'as *;
@use '../components/mixins'as *;

.services {
    text-align: center;

    @include media-breakpoint-down(lg) {
        text-align: center;

        img {
            display: none;
        }

        .border-right {
            border: none;
        }

        .border-right::after {
            content: "";
            display: block;
            width: 45%;
            height: 2px;
            margin: 1.5rem auto;
            background-color: $white;
        }

        .textWhite {
            p {
                text-align: center;
            }
        }
    }

    background-color: $primary;
    color:white;
}

.services .row:nth-child(2) {
    background-color: $light-green;

    .btn-rounded {
        border: 0.2rem  solid white;
        background-color: $light-green;
        color: white;

        &:hover {
            border: 0.2rem solid $white;
            background-color: $primary;

            span {
                background-color: $primary;
                border: 0.2rem  solid white;
                i {
                    color: $white;
                    line-height: 1.7rem;
                }
            }
        }

        span {
            border: 0.2rem  solid white;
            background-color: $light-green;
            i {
                color: $white;
                line-height: 1.7rem;
            }
        }

    }
}

.border-right {
    border-right: 3px solid $white;
}