@use '../custom'as *;
@use '../components/mixins'as *;


.services {
    text-align: center;

    .container:first-of-type {
       padding-top: 3rem;
    }

    @include media-breakpoint-down(sm) {
        .container:nth-of-type(2) {
            display: none;
        }
    }

    .container:last-of-type {
        padding-bottom: 3rem;
     }

    @include media-breakpoint-down(lg) {
        text-align: center;

       img {
            display: none;
        } 
    }

    background-color: $primary;
    color:white;
}

.services .row:nth-child(2) {
    background-color: $light-green;

    .btn-rounded {
        border: 0.2rem solid white;
        background-color: $light-green;
        color: white;

        &:hover {
            border: 0.2rem solid $white;
            background-color: $primary;

            span {
                background-color: $primary;
                border: 0.2rem solid white;

                i {
                    color: $white;
                    line-height: 1.7rem;
                }
            }
        }

        span {
            border: 0.2rem solid white;
            background-color: $light-green;

            i {
                color: $white;
                line-height: 1.7rem;
            }
        }

    }
}

