@use '../custom'as *;
@use '../components/mixins'as *;

.services {
    text-align: center;

    @include media-breakpoint-down(lg) {
        text-align: center;

        img{
            display: none;
        }

        .border-right {
            border: none;
        }

        .border-right::after {
            content: "";
            display: block;
            width: 45%;
            height: 2px;
            margin: 1.5rem auto;
            background-color: $white;
        }

        .textWhite {
            p {
                text-align: center;
            }
        }
    }

    background-color: $primary;
    color:white;
}

.border-right {
    border-right: 3px solid $white;
}