// bootstrap.
@use './styles/scss/custom';
// site components.
@use './styles/scss/components/animations';
@use './styles/scss/components/buttons';
@use './styles/scss/components/typography';
@use './styles/scss/components/mixins';
// site sections.
@use './styles/scss/sections/navbar';
@use './styles/scss/sections/introSection';
@use './styles/scss/sections/companies';
@use './styles/scss/sections/services';
@use './styles/scss/sections/testimonials';
@use './styles/scss/sections/faq';
@use './styles/scss/sections/portfolio';
@use './styles/scss/sections/getStarted';
@use './styles/scss/sections/footer';
// google fonts.
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Merriweather:wght@300;400;700;900&family=Pacifico&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: 'Merriweather', serif;
}
